.button {
  display: block;
  bottom: 0px;
  background-color: #debf79;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  width: 150px;
  padding: 13px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  margin: 10px auto;
}
